<%- include('./partials/head') %> 
<h1>Tu Carrito</h1>
<div class="container sm-6">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">URL</th>
          </tr>
        </thead>
        <% products.forEach(product =>{ %>
            <tbody>
                <tr>
                  <th scope="row"><%=product.id%></th>
                  <td><%=product.nombre %></td>
                  <td><%=product.descripcion %></td>
                  <td><%=product.precio %></td>
                </tr>
            </tbody>
        <% }) %> 
     </table>
        <form action = "/vaciar" method = "get">
            <button type="submit" class="btn btn-dark">Vaciar Carrito o volver a productos</button>
        <form>
    </div>
    </body>
    </html>