<%- include('./partials/head') %> 
<div class="container sm-6">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">URL</th>
          </tr>
        </thead>
        <% products.forEach(product =>{ %>
            <tbody>
                <tr>
                  <th scope="row"><%=product.id%></th>
                  <td><%=product.nombre %></td>
                  <td><%=product.descripcion %></td>
                  <td><%=product.precio %></td>
                  <td><button onclick = "agregar('<%=product.id%>')">Agregar</td>
                </tr>
            </tbody>
        <% }) %> 
    </table>
        <form action = "/carrito" method = "get">
            <button type="submit" class="btn btn-dark">Volver al Post</button>
        <form>
    </div>
    <script>
        function agregar(product){
            fetch(`http://localhost:8080/${product}`,{
                method: 'POST',
            })
        }
    </script>
    </body>
    </html>